*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }

 .carousel-container{
    width: 31%;
    margin: auto;
    margin-top: 40px;
    border: 5px solid black;
    /* overflow: hidden; */
    position: relative;
 }

 .carousel-slide{
    display: flex;
    width: 100%;
    height: 800px;
    position: relative;    /* Establish a containing block for the absolute element */
    display: inline-block;
 }

 .carousel-slide>img{
  display: flex;
  width: 100%;
  height: 800px;
  vertical-align: middle;
}

  .btn{
    border: none;
    outline: none;
    background: #888;
    padding: 10px 30px;
    font-size: 20px;
    color: pink;
    cursor: pointer;
    margin: 10px auto;
  }

  .btn:hover{
    background: blueviolet;

  }

  body{
    text-align: center;
  }

  /* #prev{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 0;
    border-color: transparent gold transparent transparent;
  color:blue;
    position: absolute; /* Remove the element from normal flow */
    /* top: 100; 
    right: 50;  
    font-size: 30px; 
    z-index: 30;
  } 

  #next{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 0;
    border-color: transparent gold transparent transparent;
    color:blue;
    position: absolute;  Remove the element from normal flow
    top: 100; 
    right: 0;  
    z-index: 30;
    font-size: 30px; 
  } 
/* img{
  float: left;
} */
/* #prev{
  color: blue;
  font-size: 30px;
  position:absolute;
}

#next{
  color:#ffee22;
  font-size: 30px;
} */


/* .carousel-slide:hover+.navigate{
  display: block;
 
} */